@use "../partials/colors";

.calendar {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  width: 250px;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__labels {
    display: flex;
    gap: 10px;
  }

  &__label {
    text-align: center;
    width: 25px;
  }

  &__month {
    display: flex;
    flex-direction: column;
  }

  &__week {
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;

    &.active {
      background: colors.$color-green;
    }
  }

  &__day {
    text-align: center;
    width: 25px;
  }
}